body {
    background-image: url("/media/images/background.jpg");
    background-size: cover;
    background-attachment: fixed
}

a {
    color: black;
}

div#main {
    width: 90%;
    background-color: white;
    overflow: hidden;
    margin: 0 auto;
    padding: 1em;
}

pre {
    overflow-x:auto;
}

div.object {
    display: block;
    font-size: 150%;
}

a.anchor {
    display: none;
}

div.sep {
    display: none;
}

pre.overflow {
    border-width: 1px;
    border-right-style: dotted;
}

div.cross {
    text-align: center;
    font-size: 180%;

    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

/* tablets and desktop */
@media screen and (min-width : 666px) {
    div#main {
        width: 35em;
    }

    div.object {
        display: inline-block;
        font-size: 1em;
    }

    div.sep {
        display: inline-block;
    }

    a.anchor {
        text-decoration: none;
    }

    h2:hover a.anchor {
        display: inline-block;
    }

    h3:hover a.anchor {
        display: inline-block;
    }
}
