body {
    background-image: url("/media/images/background.jpg");
    background-size: cover;
    background-attachment: fixed
}

div#main {
    width: 90%;
    background-color: white;
    margin: 0 auto;
    padding: 1em;
}

div.object {
    display: block;
    font-size: 150%;
}

div.sep {
    display: none;
}

/* tablets and desktop */
@media only screen and (min-device-width : 769px) {
    div#main {
        width: 40em;
    }

    div.object {
        display: inline-block;
        font-size: 1em;
    }

    div.sep {
        display: inline-block;
    }
}
