body {
    background-image: url("/media/images/background.jpg");
    background-size: cover;
    background-attachment: fixed
}

div#main {
    width: 35em;
    background-color: white;
    margin: 0 auto;
    padding: 1em;
}

div.object {
    display: inline-block;
}

div.sep {
    display: inline-block;
}

/* smartphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    div#main {
        width: 90%;
    }

    div.object {
        display: block;
        font-size: 150%;
    }

    div.sep {
        display: none;
    }
}
