tmp
drafts
pages/index.md
public/media/images
public/*.html
public/sitemap.*
*.swp
*.swo

public/media/debian_wheezy_armel_standard.qcow2
public/media/initrd.img-3.2.0-4-versatile
public/media/vmlinuz-3.2.0-4-versatile
